service vendor.wifi-mac-generator /vendor/bin/wifi-mac-generator ${ro.serialno}
    class main
    user wifi
    group wifi
    oneshot
    disabled

on post-fs-data
    start vendor.wifi-mac-generator
