type als_correction_service_exec, system_file_type, exec_type, file_type;

init_daemon_domain(als_correction_service)

# Allow access to the HALs
hal_client_domain(als_correction_service, hal_graphics_allocator)

# Allow als_correction_service to use binder service
binder_use(als_correction_service)

# Allow binder communication with surfaceflinger
binder_call(als_correction_service, surfaceflinger)

# Allow als_correction_service to find hal_graphics_allocator_hwservice
allow als_correction_service hal_graphics_allocator_hwservice:hwservice_manager find;

# Allow als_correction_service to find hal_graphics_mapper_hwservice
allow als_correction_service hal_graphics_mapper_hwservice:hwservice_manager find;

# Allow als_correction_service to find surfaceflinger_service
allow als_correction_service surfaceflinger_service:service_manager find;

# Allow als_correction_service to load same_process_hal_file
allow als_correction_service same_process_hal_file:file r_file_perms;

# Allow als_correction_service to read and write to ion_device
allow als_correction_service ion_device:chr_file rw_file_perms;
