type camera_helper_app, domain;

app_domain(camera_helper_app)

allow camera_helper_app app_api_service:service_manager find;
allow camera_helper_app cameraserver_service:service_manager find;

allow camera_helper_app mnt_vendor_file:dir search;

r_dir_file(camera_helper_app, vendor_persist_engineer_file)
rw_dir_file(camera_helper_app, sysfs_motor)
rw_dir_file(camera_helper_app, system_app_data_file)
