type camera_helper_app, domain;

app_domain(camera_helper_app)

# Allow camera_helper_app to find app_api_service
allow camera_helper_app app_api_service:service_manager find;

# Allow camera_helper_app read and write /data/data subdirectory
allow camera_helper_app system_app_data_file:dir create_dir_perms;
allow camera_helper_app system_app_data_file:{ file lnk_file } create_file_perms;
