on boot
    mkdir /data/misc/lineage 0770 cameraserver audio
    write /data/misc/lineage/client_package_name 0
    chown cameraserver audio /data/misc/lineage/client_package_name
    chmod 0644 /data/misc/lineage/client_package_name
